@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Montserrat:wght@900&family=Sacramento&family=Ubuntu&display=swap");

#title {
  background-color: #ff4c68;
}

.heading {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  line-height: 1.5;
  color: #fff;
}

h4 {
  font-family: "Montserrat";
}

p {
  color: #8f8f8f;
}

.container-fluid {
  padding: 3% 15% 7%;
}

/* navigation bar */

.navbar {
  padding: 0 0 4.5rem;
}

.nav-link {
  padding: 0 18px !important;
  font-family: "Montserrat-light", sans-serif;
  font-size: 1.2rem;
}
.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.download-button {
  margin: 5% 3% 5% 0;
}

/* Title image */

.title-img {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 20%;
}

.row {
  width: 100% !important;
}

/* Feature Section */

#features {
  padding: 7% 11%;
  background-color: #fff;
  position: relative;
}

.feature-box {
  text-align: center;
  padding: 3%;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

/* Testimonial Section */

#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

h2 {
  font-family: "Montserrat";
  font-size: 2.5rem;
  line-height: 1.5;
}

.carousel-item {
  padding: 5% 15%;
}

.testimonial-img {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

/* Press Section */

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing section */

#pricing {
  padding: 50px 100px 80px;
  text-align: center;
}

.pricing-column {
  padding: 3% 2%;
}

@media (max-width: 1028px) {
  .title-img {
    position: static;
    transform: rotate(0deg);
  }

  #title {
    text-align: center;
  }
}

#cta {
  width: 100%;
  background-color: #ff4c68;
  text-align: center;
}

.cta-heading {
  font-family: "Montserrat";
  color: #fff;
  padding: 60px 20%;
  line-height: 1.5;
}

.cta-button {
  margin: 0 20px 150px;
}

#footer {
  text-align: center;
  padding: 50px 0;
}

.footer-p {
  padding-top: 20px;
}

.social-icon {
  margin: 20px 10px;
}
